@media (min-width: 300px) {
  img {
  }
}

.navbar {
}

.navbar {
  background: #dedede;
}

@media (min-width: 768px) {
  img {
  }
}

.navbar-toggler {
}

img {
}

.link-primary {
  color: #0008c2!important;
}

@media (min-width: 992px) {
  img {
  }
}

@media (min-width: 1200px) {
  img {
  }
}

@media (min-width: 1200px) {
  a {
  }
}

body {
}

@media (min-width: 1200px) {
  .nav-item {
  }
}

@media (min-width: 1200px) {
  .navbar-nav {
  }
}

@media (min-width: 992px) {
  .nav-item {
  }
}

@media (min-width: 992px) {
  a {
  }
}

a {
}

@media (min-width: 1400px) {
  img {
  }
}

@media (min-width: 1400px) {
  #navcol-1 {
  }
}

@media (min-width: 1400px) {
  .nav-item {
  }
}

@media (min-width: 1400px) {
  a {
  }
}

@media (min-width: 576px) {
  img {
    height: 100%!important;
    padding-top: 0px;
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  #navcol-1 {
  }
}

