@tailwind base;
@tailwind components;
@tailwind utilities;

.main-blue-font {
  color: #0033ab;
}

.main-blue-background {
  background-color: #0033ab;
}

.main-gold-font {
  color: #f7b512;
}

.main-gold-background {
  background-color: #f7b512;
}

.alt-blue-font {
  color: #c2e7ff;
}

.alt-blue-background {
  background-color: #c2e7ff;
}

.alt-gold-font {
  color: #fde37b;
}

.alt-gold-background {
  background-color: #fde37b;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.available {
  background-color: green;
}

.unavailable {
  background-color: red;
}

.main-white-font {
  color: rgb(236, 237, 238);
}

.main-black-font {
  color: rgb(63, 63, 70);
}
